    $accent-color: #2196F3;
    $header-color: #212121;
    $text-color: #757575;
    $background-picture-color: #F5F4FA;
    $footer-background-color: #2F303A;
    $background-secondary:rgba(47, 48, 58, 0.8);
    $background-cards: rgba(33, 150, 243, 0.9);
    $white: #FFFFFF;
    $links: #AFB1B8;
    $footer-adress: rgba(255, 255, 255, 0.6);
    $footer-links: rgba(255, 255, 255, 0.1);
    $goit: rgba(255, 255, 255, 0.4);
